@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.homePage {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

#hide {
    display: none;
}

.backgroundSvg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.Header {
    position: fixed;
    top: 0;
    max-height: 70px;
    width: 100%;
    background-color:white;
}

.Nav {
    /*overflow: hidden;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link, #first_link, #logout {
    display: block;
    text-align: center;
    padding: 14px 16px;
    margin: 8px;
    text-decoration: none;
    font-size: 17px;
    color: #5AA9E6;
    border-radius: 8px;
    border:none;
    background-color: white;
    cursor: pointer;
}

.Nav a:hover, #logout:hover, #first_link:hover {
    background-color: #FFE45E;
    color: black;
}

.Nav button.icon {
    display: none;
}

#menu {
    display: flex;
    align-items: center;
    background-color: white;
}

@media screen and (max-width: 600px)
{


    .Nav button:not(.icon){
        display: none;
    }

    /*Menu 3 traits */
    .Nav button.icon {
        display: block;
        font-size: 24px;
        margin: 8px;
        padding-top: 5px;
        border: none;
        background: none;
        cursor: pointer;
    }
    .Nav button.icon:hover {
        background-color: #cfcfcf;
        border-radius: 4px;
    }

    #menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .Nav.responsive #menu {
        display: flex;
    }

    .Nav.responsive {
        position: relative;
    }

    .Nav.responsive button.icon {
        position: absolute;
        right: 1;
        top: 0;
    }

    .Nav.responsive a,
    .Nav.responsive button:not(.icon) {

        display: block;
        text-align: left;
    }

    #imgTop {
        max-width: 75%;
        height: auto;
        margin-top: 15vh;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    } 

    #TextTop{
        margin-left: 4px;
    }

    /*#stations::-webkit-scrollbar {
    height: 8px;
}

#stations::-webkit-scrollbar-thumb {
    background: #7B809A;
    border-radius: 10px;
    }*/
}


@media screen and (min-width:600px) {
    #imgTop {
        display: none;
    }

    #TextTop {
        font-size: 45px;
        justify-content: center;
    }

    #Ovals, #tutoCards {
        display: flex;
        justify-content: center;
    }
}

#stations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 20px;
    margin-top: 40px;
}

.stationCard{
    border: 1px solid #FFE45E;
    border-radius: 24px;
    padding: 16px;
    text-align: center;
    width: 200px;
    background-color: #FFE45E;
}

.stationcard_reserver {
    color: black;
    text-decoration: none;
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 10px;
}

.stationcard_reserver a:hover {
    color: #FF6392;
}

.LinkOval {
    background-color: #262626;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    text-decoration: none;
    border-radius: 132px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    gap: 10px;
    margin: auto;
}

.OvalLayout {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    margin: 20px;
    margin-bottom: 50px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 32px;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    gap: 10px;
}

.tuto {
    background-color: white;
    border-radius: 24px;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 16px;
    text-align: center;
    width: 200px;
    text-align: left;
}

#TextTop {
    color: #0031A4;
    font-weight: bold;
    display: flex;
    margin-top: 100px;
}

#slogan {
    display: flex;
    margin-left: 10px;
}

.titreGros {
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 0;
}

#subText {
    font-size: large;
    color: #0031A4;
}

#last_text {
    margin-bottom: 20px;
}