@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/*.homePage {
    background-color: #5AA9E6;
}*/

.Header {
    position: fixed;
    top: 0;
    max-height: 70px;
    width: 100%;
    background-color:white;
}

.Nav {
    overflow: hidden;
}

.Nav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    margin: 8px;
    text-decoration: none;
    font-size: 17px;
    color: #5AA9E6;
    border-radius: 8px;
}

.Nav button {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    margin: 8px;
    font-size: 17px;
    background-color: #5AA9E6;
    border: none;
    border-radius:8px ;
    color: white;
    cursor: pointer;
}

.Nav a:hover, .Nav button:hover {
    background-color: #FFE45E;
    color: black;
}

/*.Nav a.active {
    background-color: blue;
    color: white;
}*/

.Nav button.icon {
    display: none;
}

#menu {
    background-color: white;
}

@media screen and (max-width: 600px)
{
    .Nav a:not(:first-child) {
        display: none;
    }

    .Nav button:not(.icon){
        display: none;
    }

    /*Menu 3 traits */
    .Nav button.icon {
        float: right;
        display: block;
        font-size: 24px;
        margin: 8px;
    }
}

@media screen and (max-width:600px) {
    .Nav.responsive {
        position: relative;
    }

    .Nav.responsive button.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .Nav.responsive a,
    .Nav.responsive button:not(.icon) {
        float: none;
        display: block;
        text-align: left;
    }
}


#stations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 20px;
}

.stationCard{
    border: 1px solid #FFE45E;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    width: 200px;
    background-color: #FFE45E;
}

.stationCard button {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.stationCard button:hover {
    background-color: aqua;
}