@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.homePage {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.hide {
    display: none;
}

/*.backgroundSvg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}*/

.Header {
    position: fixed;
    z-index: 100;
    top: 0;
    max-height: 70px;
    width: 100%;
    background-color:var(--dark);
}

.Nav {
    /*overflow: hidden;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Nav button.icon {
    display: none;
}

/* Test de bouton */

.btn4, .nav_link, .first_link {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    padding: 14px 16px;
    margin: 8px;
    border-radius: 8px;
    font-size: 17px;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    transition: color 0.3s ease;

    /*Pour le btn se déconnecter :*/
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.btn4:hover, .nav_link:hover, .first_link:hover {
    background-color: var(--primary);
    color: white;
}

.btn4::after, .nav_link:after, .first_link:after {
    background: #fff;
    content: "";
    height: 200px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 10;
}

.btn4:hover::after, .nav_link:hover::after, .first_link:hover::after {
    left: 120%;
}
/*Crédit :*/
/*https://codepen.io/anon/embed/emgQKJ?height=500&theme-id=1&slug-hash=emgQKJ&default-tab=result#result-box*/

.menu {
    display: flex;
    align-items: center;
    background-color: var(--dark);
}

@media screen and (max-width: 600px)
{
    .Nav button:not(.icon){
        display: none;
    }

    /*Menu 3 traits */
    .Nav button.icon {
        background-color: var(--light);
        display: block;
        font-size: 24px;
        margin: 8px;
        padding-top: 5px;
        border: none;
        background: none;
        cursor: pointer;
    }
    /*.Nav button.icon:hover {
        background-color: #ffffff;
        border-radius: 4px;
    }*/

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .Nav.responsive .menu {
        display: flex;
    }

    .Nav.responsive {
        position: relative;
    }

    .Nav.responsive button.icon {
        position: absolute;
        right: 1;
        top: 0;
    }

    .Nav.responsive a,
    .Nav.responsive button:not(.icon) {

        display: block;
        text-align: left;
    }

    .imgTop {
        max-width: 75%;
        height: auto;
        margin-top: 15vh;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    } 

    .TextTop{
        margin-left: 4px;
    }

    /*#stations::-webkit-scrollbar {
    height: 8px;
}

#stations::-webkit-scrollbar-thumb {
    background: #7B809A;
    border-radius: 10px;
    }*/
}


@media screen and (min-width:600px) {
    .imgTop {
        display: none;
    }

    .TextTop {
        font-size: 45px;
        justify-content: center;
    }

    .Ovals, .tutoCards {
        display: flex;
        justify-content: center;
    }
}

.stations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 20px;
    margin-top: 40px;
}

.stationCard{
    border: 1px solid #FFE45E;
    border-radius: 24px;
    padding: 16px;
    text-align: center;
    width: 200px;
    background-color: #FFE45E;
}

.stationcard_reserver {
    color: black;
    text-decoration: none;
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 10px;
}

.stationcard_reserver a:hover {
    color: #FF6392;
}

.LinkOval {
    background-color: #262626;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    text-decoration: none;
    border-radius: 132px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    gap: 10px;
    margin: auto;
}

.OvalLayout {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    margin: 20px;
    margin-bottom: 50px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 32px;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    gap: 10px;
}

.tuto {
    background-color: white;
    border-radius: 24px;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 16px;
    text-align: center;
    width: 200px;
    text-align: left;
}

.TextTop {
    color: var(--faintText);
    font-weight: bold;
    display: flex;
    margin-top: 100px;
    animation: fadeInUp 1s ease forwards;
    opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slogan {
    display: flex;
    margin-left: 10px;
}

.titreGros {
    color: var(--faintText);
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 0;
}

.subText {
    font-size: large;
    color: var(--accent);
}

.last_text {
    margin-bottom: 20px;
}