@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/*Placeholder, won't stay that way*/
.Header {
    position: fixed;
    top:0;
    max-height:70;
    width: 100vw;

    display: grid;

    background-color: aquamarine;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}