.reservationPage {
    background-color: #5AA9E6;
    text-align: center;
    color:#262626;
}

.reservationPage .infoReservation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.reservationPage .infoReservation .champ {
    margin: 20px;
    padding: 20px;
    border: 2px solid #262626;
    border-radius: 10px;
    background-color: white;
    width: 400px;
    display: inline-block;
    text-align: left;
}

.reservationPage .infoReservation .champ label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.reservationPage .infoReservation .champ input, .reservationPage .infoReservation .champ select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.reservationPage .infoReservation .champ button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #0031A4;
    color: white;
    border: none;
    border-radius: 5px;
}

.reservationPage .infoReservation .champ button:hover {
    background-color: #134fdb;
}

.reservationPage .infoReservation .champ #bAjout {
    display: block;
    position: sticky;
    bottom: 80px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #0031A4;
    color: white;
}
.reservationPage .infoReservation .champ #bAjout:hover {
    background-color: #134fdb;
}

.reservationPage footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    background-color: #0031A4;
    color: white;
}

.reservationPage footer p {
    font-size: 14px;
    margin: 0;            
}

.reservationPage footer button {
    padding: 10px 20px;
    background-color: #FFE45E;
    color: rgb(10, 35, 96);
    border: none;
    border-radius: 5px;
    
}

.reservationPage footer button:hover {
    background-color: rgb(255, 255, 128);
}

