body {
    background-color: #5AA9E6;
    font-family: 'Arial Narrow Bold', sans-serif;
    text-align: center;
    
}


.infoReservation .champ {
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    width: 400px;
    display: inline-block;
    text-align: left;
}

.champ label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.champ input, .champ select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgb(10, 35, 96);
    color: white;
}

footer p {
    margin: 0;
    font-size: 14px;
    display: inline-block;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
}