.addStationForm {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 2px dashed #979bff;
    display: flex;
    gap: 10px;
}

.addStationForm input {
    padding: 8px;
    flex: 1;
}

.stationsList {
    padding: 20px;
}

.stationsCardDetails {
    background-color: white;
    padding: 8px;
    width: fit-content;
    margin: 20px;
    border-radius: 8px;
    min-width: 200px;
}

.stations_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    border-radius: 8px;
    margin: 8px;
    cursor: pointer;
    padding: 4px;
    border: none;
}

button:hover{
    background-color: rgb(163, 202, 163);
}
/*
.stationCardDetails div {
    min-width: 250px;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
}*/